<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Резонансы</title>
	<style>
		h2{text-align: center; color: blue;}
		body{padding: 20px;	font-size: 20px;}
		table{border-collapse: collapse;}
		th, td{border: 1px solid gray; padding: 5px; text-align: center;}
		.selectable tr:hover{background-color: yellow; cursor: pointer;}
		.red{color: red;}
	</style>
</head>
<body>
	<h2>Резонансы внутри родовой системы</h2>
		<center>
			<table class="selectable">
				<tr><th>Код</th><th>Резонансы</th></tr>
				{% for code in data -%}
					<tr>
						<td>
							{{code}}
						</td>
						<td>
							{% for record in data[code] -%}
								{{record}}<br>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</center>

</body>
</html>