<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Анализ по предложениям</title>
	<style>
		h2{text-align: center; color: blue;}
		body{padding: 20px;	font-size: 20px;}
		table{border-collapse: collapse;}
		th, td{border: 1px solid gray; padding: 5px; text-align: center;}
		.selectable tr:hover{background-color: yellow; cursor: pointer;}
		.red{color: red;}
	</style>
</head>
<body>
	<h2>Анализ по предложениям</h2>
	<center>
		<table class="selectable">
			<tr>
				<th>#</th>
				<th>Текст предложения</th>
				<th>Числовой код</th>
				<th>Слова из букв предложения</th>
			</tr>
			{% for sentence in data%}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{sentence["text"]}}</td>
				<td>{{sentence["code"]}}</td>
				<td>{{sentence["words"]}}</td>

			</tr>
			{% endfor %}
		</table>
	</center>
</body>
</html>