<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table{
            border: 1px solid gray;
            border-collapse: collapse;
            width: 100%;
        }
        td, th{
            border: 1px solid gray;
            padding: 15px;
        }
    </style>


    {% for element in data %}
        <h2 onclick="show_content(this);">{{data[element]['title']}}</h2>
        <table>
            <tr>
                <th>Адрес</th>
                <th>Элемент разбиения</th>
                <th>УВ</th>
                <th>Е</th>
                <th>ЧМ</th>
                <th>Количество повторений</th>
            </tr>
            {% for el in data[element]['elements'] %}
            <tr>
                <td>
                    {% for address in el['addresses'] %}
                    {{address}}<br>
                    {% endfor %}
                </td>
                <td>{{el['text']}}</td>
                <td>{{el['n_v']}}</td>
                <td>{{el['energy']}}</td>
                <td>{{el['length']}}</td>
                <td>{{el['count']}}</td>
            </tr>
            {% endfor %}
        </table>

    <h2 onclick="show_content(this);">Статистика по буквам для слова</h2>
            <table>
            <tr>
                <th>Буква</th>
                <th>Кол-во</th>
                <th>Процент</th>
                <th>Слово</th>
                <th>Адресс</th>
            </tr>
            {% for letter in data[element]['letter_statistics'] %}
            <tr>
                <td>
                    {{letter}}
                </td>
                <td>
                    {{data[element]['letter_statistics'][letter]['count']}}
                </td>
                <td>
                    {{data[element]['letter_statistics'][letter]['percent']}}
                </td>
                <td>
                    {% for el in data[element]['letter_statistics'][letter]['words'] %}
                    {{el}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for adr in data[element]['letter_statistics'][letter]['adresses'] %}
                    {{adr}}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

    {% endfor %}


</body>
</html>
<style>
h2{
cursor: pointer;
}
h2:hover{
color: blue;
}
.hide{
    display: none;
    transition: 0.5s;
}
</style>
<script>
	function show_content(sender){
		sender.nextElementSibling.classList.toggle("hide");
	}
</script>