<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Анализ генограмм</title>
	<style>
		h2{text-align: center; color: blue;}
		body{padding: 20px;	font-size: 20px;}
		table{border-collapse: collapse;}
		th, td{border: 1px solid gray; padding: 5px; text-align: center;}
		.selectable tr:hover{background-color: yellow; cursor: pointer;}
		.red{color: red;}
	</style>
</head>
<body>
	<h2>Процент открытых гласных на 1-ой позиции: <span class="red">{{data['percentage_of_open_vowels']}}%</span></h2>
		
	<h2>Статистика по буквам</h2>
		<center>
			<table class="selectable">
				<tr><th>Буква</th><th>Найдена раз</th><th>Процент к общему количеству</th></tr>
				{% for letter_stat in data['letter_statistics'] -%}
					<tr><td>{{ letter_stat['letter']}}</td><td>{{ letter_stat['count']}}</td><td>{{letter_stat['percentage']}}%</td></tr>
				{% endfor %}
		    </table>
		</center> 
	<h2>Слова совпадающие по числовому коду</h2>
		<center>
			<table class="selectable">
				<tr><th>Слово</th><th>Код</th><th>Слова из базы с такимже кодом</th></tr>
				{% for names in data['names_for_genogramm_by_numerical_code'] -%}
					<tr><td>{{ names['name']}}</td><td>{{ names['code']}}</td><td>{{names['names']}}</td></tr>
				{% endfor %}
			</table>
		</center>
	<h2>Всевозможные слова из букв загруженных имен</h2>
	<center>	
		<table>	
			<tr>
				<td>		
					{% for i in range(0,data['names_for_genogramm_by_text']|length//4) -%}
							{{i + 1}}. {{data['names_for_genogramm_by_text'][i]}}<br>
					{% endfor %}
				</td>
				<td>
					{% for i in range(data['names_for_genogramm_by_text']|length//4,data['names_for_genogramm_by_text']|length//4*2) -%}
						{{i + 1}}. {{data['names_for_genogramm_by_text'][i]}}<br>
					{% endfor %}
				</td>
				<td>
					{% for i in range(data['names_for_genogramm_by_text']|length//4*2,data['names_for_genogramm_by_text']|length//4*3) -%}
						{{i + 1}}. {{data['names_for_genogramm_by_text'][i]}}<br>
					{% endfor %}
				</td>
				<td>	
					{% for i in range(data['names_for_genogramm_by_text']|length//4*3,data['names_for_genogramm_by_text']|length) -%}
						{{i + 1}}. {{data['names_for_genogramm_by_text'][i]}}<br>
					{% endfor %}
				</td>
			</tr>
		</table>
	</center>
	
</body>
</html>